<!DOCTYPE html>
<html>
<head>
    <!-- ref:css css/styles.concat.css -->
    <link rel="stylesheet" type="text/css" href="css/ie8.css" />
    <!-- endref -->

    <link rel="stylesheet" type="text/css" href="css/application.less" />
    <link media="screen and (max-width: 350px)" rel="stylesheet" type="text/css" href="css/application.small.less" />
    <link media="screen and (min-width: 351px) and (max-width: 679px)" rel="stylesheet" type="text/css" href="css/application.medium.less" />
    <link media="screen and (min-width: 650px)" rel="stylesheet" type="text/css" href="css/application.large.less" />

    <!-- ref:js js/application.concat.js -->
    <script type="text/javascript" src="js/dependencies/respond/respond.src.js"></script>
    <script type="text/javascript" src="js/dependencies/jquery/jquery.js"></script>
    <script type="text/javascript" src="js/debug.js"></script>
    <script type="text/javascript" src="js/application.ui.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/launcher.js"></script>
    <!-- endref -->
</head>
<body>
<div class="app" id="app">
    <h1>Example application which uses preferences in javascript and less</h1>
    <h2 id="greeting">Your greeting goes here</h2>
    <p class="small-dimension">Small dimension app</p>
    <p class="medium-dimension">Medium dimension app</p>
    <p class="large-dimension">Large dimension app</p>
</div>
</body>
</html>

