<!DOCTYPE html>
<html data-version="%%versionstring%%">
<head>
    <!-- build:css styles/widget.concat.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" type="text/css" href="styles/widget.css" />
    <!-- endbuild -->

    <!-- build:less styles/widget.concat.less -->
    <link rel="stylesheet" type="text/css" href="styles/widget.less" />
    <!-- endbuild -->
</head>
<body>
<div class="widget" id="widget">
    <h1>Example widget which uses preferences in javascript and LESS</h1>
    <h2 id="greeting">Your greeting goes here</h2>
    <p class="small-dimension">Small dimension widget</p>
    <p class="medium-dimension">Medium dimension widget</p>
    <p class="large-dimension">Large dimension widget</p>
</div>
<!-- build:js js/widget.concat.js -->
<!-- bower:js -->
<!-- endbower -->
<script type="text/javascript" src="js/greeting.ui.js"></script>
<script type="text/javascript" src="js/greeting.js"></script>
<script type="text/javascript" src="js/widget.js"></script>
<!-- endbuild -->
</body>
</html>

